header {
    position: fixed;
    display: flex;
    align-items: center;
    font-weight: 500;
    width: 100%;
    height: 8vh;
    background: rgb(202, 202, 202);
}

.nav__main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(80, 80, 80);
    font-size: 2rem;
    width: 100%;
    margin-left: 5rem;
    margin-right: 5rem;
}

.nav__links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.nav__links li {
    list-style: none;
    padding: 1.5rem;
}

.li__hover{
    background: rgb(163, 163, 163);
}

a {
    text-decoration: none;
    color: rgb(80, 80, 80);

}

.burger {
    display: none;
}

.burger {
    display: none;
    height:5rem;
    width: 5rem;
}

.burger div{
    width: 4rem;
    height: 0.3rem;
    background: rgb(80, 80, 80);
    margin: 0.5rem;
    transition: all 0.3s ease;
}

@media screen and (max-width: 816px) {
    body {
        overflow: hidden;
    }

    .nav__links {
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        align-items: center;
        width: 40%;
        transform: translate(100%);
        transition: transform 0.5s ease;
        background: rgb(202, 202, 202);
    }

    .active {
        transform: translate(0%);
    }

    .nav__links li {
        padding: 3rem;
    }
    .nav__links a {
        text-align: center;
        width: 100%;
    }
    .burger {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }

    .toggle .line1 {
        transform: rotate(-45deg) translate(-1rem, 0.8rem);
    }
    
    .toggle .line2 {
        opacity: 0;
    }
    
    .toggle .line3 {
        transform: rotate(45deg) translate(-1rem, -0.8rem);
    }
}