header {
    position: fixed;
    font-weight: 500;
    width: 100%;
}

.nav__main {
    display: flex;
    padding: 3rem 5rem;
    justify-content: space-between;
    align-items: center;
    color: rgb(80, 80, 80);
    font-size: 2rem;
    width: 100%;
}

.nav__links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.nav__links li {
    list-style: none;
    padding: 1.5rem;
}

.li__hover{
    background: rgb(163, 163, 163);
}

a {
    text-decoration: none;
    color: rgb(80, 80, 80);

}

.burger {
    display: none;
    position: relative;
    width: 4rem;
    height: 4rem;
}

.burger span{
    width: 4rem;
    height: 0.33rem;
    background: rgb(80, 80, 80);
    margin: 0.5rem auto;
    transition: all 0.3s ease;
}

@media screen and (max-width: 816px) {
    body {
        overflow: hidden;
    }

    .nav__main {
        padding: 2rem 2rem;
    }

    html {
        font-size: 55%;
    }

    .nav__links {
        position: absolute;
        top: 0;
        right: 0;
        height: 100vh;
        padding: 40% 0;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        align-items: center;
        width: 40%;
        transform: translate(20%);
        opacity: 0;
        transition: transform 0.5s ease, opacity 0.5s ease;
        background: rgb(202, 202, 202);
        pointer-events: none;
    }

    .active {
        transform: translate(0%);
        opacity: 1;
        pointer-events: all;
    }

    .nav__links li {
        opacity: 0;
        padding: 3rem;
    }
    .nav__links a {
        text-align: center;
        width: 100%;
    }
    .burger {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;    
        cursor: pointer;
    }

    .toggle .line1 {
        transform: rotate(-45deg) translate(-1rem, 0.8rem);
    }
    
    .toggle .line2 {
        opacity: 0;
    }
    
    .toggle .line3 {
        transform: rotate(45deg) translate(-1rem, -0.8rem);
    }

   @keyframes navLinkFade {
       from {
           opacity: 0;
           transform: translateX(3rem);
       }
       to {
           opacity: 1;
           transform: translateX(0rem);
       }
   }
}