.detail__main_title {
    font-size: 5rem;
}

.detail__bg_title {
    font-size: 13rem;
    width: 100%;
    left: -10%;
    text-indent: 30%;
    position: absolute;
    transform: translate(10%, -40%);
    color: rgba(170, 170, 170, 0.5);
    overflow: hidden;
    pointer-events: none;
    z-index: -1;    
}

.detail {
    width: 100%;
}

.detail__content {
    font-size: 1.6rem;
}